<html>
<head>
	<title>TNA</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		header{ 
			background-color: #333333;
			color: white;
			text-align: center;
		}
		footer{
			background-color: #333333;
			color: white;
		}
		main{
			height: 50%;
		}
		canvas{
			border-color: black;
			border-style: solid;
			border-width: 1px;
		}
	</style>
</head>
<body>
	<div class="fluid-container">
		<header class="row">
			<div class="col-md-4">
				<h3>Twitter Network Analytic</h3>
			</div>
		</header>
		<main class="container row">
			<div class="col-md-10">
				<div class="container">
					<div id="canvas-force">

					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="container">
					<div class="row">
						<div class="container">
							<form class="form-inline">
								<fieldset class="form-group">
									<label class="sr-only">Analyze User</label>
									<input type="text" class="form-control" placeholder="Enter Username (without @)">
								</fieldset>
								<button type="submit" class="btn btn-primary">Analyze User</button>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="container">
							<form class="form-inline">
								<fieldset class="form-group">
									<label class="sr-only">Analyze User</label>
									<input type="text" class="form-control" placeholder="Enter Topic Keyword">
								</fieldset>
								<button type="submit" class="btn btn-primary">Analyze Topic</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="row">
			<div class="col-md-12">
				<div class="container">
					Copyrights
				</div>
			</div>
		</footer>
	</div>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
    // Number of Nodes
    var nNodes = 250,
        createLink = false;

    // Dataset Structure
    var data = {nodes: [], links: []};

    // Iterate in the nodes
    for (var k = 0; k < nNodes; k += 1) {
        // Create a node with a random radius.
        data.nodes.push({radius: Math.random() > 0.3 ? 2 : 4});

        // Create random links to the node.
        for (var j = k + 1; j < nNodes; j += 1) {

            // Only create links if the indexes are closer, with probability 0.1
            createLink = (Math.random() < 0.1) && (Math.abs(k - j) < 8);

            if (createLink) {
                // Append a link with variable distance between the nodes.
                data.links.push({
                    source: k,
                    target: j,
                    dist: 2 * Math.abs(k - j) + 10
                });
            }
        }
    }

    // Figure width and height
    var width = 650,
        height = 300;

    // Create and configure the force layout
    var force = d3.layout.force()
        .size([width, height])
        .nodes(data.nodes)
        .charge(function(d) { return -1.2 * d.radius * d.radius; })
        .linkDistance(function(d) { return d.dist; })
        .links(data.links)
        .start();

    // Create a canvas element and set its size.
    var canvas = d3.select('div#canvas-force').append('canvas')
        .attr('width', width + 'px')
        .attr('height', height + 'px')
        .node();

    // Get the canvas context.
    var context = canvas.getContext('2d');

    force.on('tick', function() {
        // Clear the complete figure.
        context.clearRect(0, 0, width, height);

        // Draw the links
        data.links.forEach(function(d) {
            // Draw a line from source to target
            context.beginPath();
            context.moveTo(d.source.x, d.source.y);
            context.lineTo(d.target.x, d.target.y);
            context.stroke();
        });

        // Draw the nodes
        data.nodes.forEach(function(d, i) {
            // Draws a complete arc for each node.
            context.beginPath();
            context.arc(d.x, d.y, d.radius, 0, 2 * Math.PI, true);
            context.fill();
        });
    });
</script>
</body>
</html>