<html>
<head>
	<title>TNA USER</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		svg {
		    background-color: antiquewhite;
		}
	</style>
</head>
<body>
	<div class="container">
		<header class="row container">
			<h3>Twitter Network Analytic | User Account Analytic</h3>
		</header>
		<main class="row container">
			<section class="col-md-8">
				<div id="canvas-force"></div>
			</section>
		</main>
		<footer class="row container">
			&copy; 2017 Drizzer Tech 
		</footer>
	</div>
	
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		const data = {
			"nodes" : [
				{"id" : "riou"},
				{"id" : "nanami"}
			],
			"edges" : [
				{
					"source" : "riou",
					"target" : "nanami",
					"weight" : 10
				}
			]
		}

		const width = 720, height = 480
		const svg = d3.select("#canvas-force").append("svg")
			.attr("width", width)
			.attr("height", height)

		// custom to change edges index to id
		const links = [];
		data.edges.forEach(function(e){
			const source_node = data.nodes.filter(function(n) { return n.id === e.source; })[0]
			const target_node = data.nodes.filter(function(n) { return n.id === e.target; })[0]
			links.push({
				source: source_node,
				target: target_node,
				weight: e.weight
			});
		});

		const force = d3.layout.force()
			.nodes(data.nodes)
			.links(links)
			.size([width,height])
			.linkDistance(200)
			.start()

		const edges = svg.selectAll('.link')
			.data(links)
			.enter()
			.append('line')
				.style('stroke', 'black')
				.style('stroke-width', 20)

		const nodes = svg.selectAll('circle')
			.data(data.nodes)
			.enter()
			.append('circle')
				.attr('r',10)
				.attr('fill', 'blue')
			.call(force.drag)

		nodes.append('text')
			.attr("dx", 12)
			.attr("dy", ".35em")
			.text(function(d) { return d.id; })

		force.on('tick', function(){
			edges.attr({
				x1: function (d) {return d.source.x;},
				y1: function (d) {return d.source.y;},
				x2: function (d) {return d.source.x;},
				y2: function (d) {return d.source.y;}
			});

			nodes
				.attr('cx', function (d) { return d.x; })
				.attr('cy', function (d) { return d.y; });
		});

	</script>
</body>
</html>